@import url('https://fonts.googleapis.com/css2?family=Combo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Combo', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: skyblue;
}

nav,
main {
  width: 80%;
  min-width: 375px;
}

h1,
h2 {
  color: blueviolet;
}

h1 {
  text-align: center;
}

button {
  background-color: blueviolet;
  padding: 5px;
  font-size: 1.2rem;
  box-shadow: 5px 5px 3px #000;
  color: whitesmoke;
  border: 2px solid whitesmoke;
}

button.comment {
  margin-left: 50%;
  transform: translate(-50%);
}

ul.menu,
ul.main-display {
  list-style: none;
}

ul.menu {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.score-list li {
  height: 35px;
  padding: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.meal-wrapper {
  display: flex;
  gap: 5px;
}

.likes-wrapper {
  display: flex;
  flex-direction: column;
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  gap: 50vh;
  font-size: 1rem;
  align-items: center;
  margin: 1rem 0;
}

footer {
  background-color: rgb(165, 84, 13);
  height: 10vh;
  color: #fff;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
