@import url('https://fonts.googleapis.com/css2?family=Combo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Combo', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: skyblue;
}

nav,
main {
  width: 80%;
  min-width: 375px;
}

h1,
h2 {
  color: blueviolet;
}

h1 {
  text-align: center;
}

button {
  background-color: blueviolet;
  padding: 5px;
  font-size: 1.2rem;
  box-shadow: 5px 5px 3px #000;
  color: whitesmoke;
  border: 2px solid whitesmoke;
}

button.comment {
  margin-left: 50%;
  transform: translate(-50%);
}

ul.menu,
ul.main-display{
  list-style: none;
}

ul.menu{
  display: flex;
  gap: 10px;
  justify-content: center;
}

li.meal img {
  max-width: 275px;
  border-radius: 10px;
}

.meal-wrapper{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  flex-grow: 1;
  max-width: 275px;
}

p.meal-name{
  flex:1;
}

.likes-wrapper{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.likes-wrapper img{
  width: 30px;
}

p.meal-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.fa-heart:hover{  
  color: red;
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  gap: 50vh;
  font-size: 1.2rem;
  font-weight: 900;
  align-items: center;
  margin: 1rem 0;
}

footer {
  background-color: rgb(165, 84, 13);
  height: 10vh;
  color: #fff;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .main-display{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 30%;
    justify-content: space-between;
    text-align: center;
  }

  .main-display li.meal{
    width: 30%;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
  }

  h1 {
    text-align: left;
  }

  button.submit {
    margin-left: 0%;
    float: right;
    transform: translate(0%);
  }
}

